# Settings for the Traefik reverse proxy
TRAEFIK_USERNAME=<username>
TRAEFIK_PASSWORD=<username>
TRAEFIK_HASHED_PASSWORD=<hashed password, in quotes!>
TRAEFIK_DASHBOARD_URL=
TRAEFIK_LETS_ENCRYPT_EMAIL=
APPLICATION_URL=

# Settings for the AuctionRssApi
LOG_LEVEL=INFO

# Ebay API Settings
EBAY_APP_ID=
EBAY_APP_SECRET=
EBAY_RU_NAME=

# MS Translate API settings
MS_TRANSLATE_API_KEY=
MS_TRANSLATE_API_LOCATION=westeurope

# Watchtower settings
TZ=Europe/Amsterdam
WATCHTOWER_CLEANUP=True
WATCHTOWER_POLL_INTERVAL=60
WATCHTOWER_NOTIFICATION_URL=
WATCHTOWER_NOTIFICATIONS_HOSTNAME=