asgi-correlation-id==4.3.4
beautifulsoup4==4.14.2
cashews==7.4.3
cloudscraper==1.2.71
dateparser==1.2.2
fastapi==0.120.2
fastapi_rss==0.4.0
httpx==0.28.1
lxml_html_clean==0.4.2
nest-asyncio==1.6.0
pydantic==2.12.3
pydantic-settings==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
requests-html==0.10.0
rich==14.2.0
starlette==0.49.1
truststore==0.10.4
uvicorn==0.38.0
xmltodict==1.0.2