beautifulsoup4==4.12.3
cloudscraper==1.2.71
fastapi==0.109.2
fastapi_rss==0.2.2
httpx==0.26.0
pydantic==2.6.1
pydantic-settings==2.2.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
uvicorn==0.27.1
xmltodict==0.13.0