asgi-correlation-id==4.3.4
beautifulsoup4==4.13.4
cashews==7.4.1
cloudscraper==1.2.71
dateparser==1.2.2
diskcache==5.6.3
fastapi==0.116.1
fastapi_rss==0.4.0
httpx==0.28.1
lxml_html_clean==0.4.2
nest-asyncio==1.6.0
pydantic==2.11.7
pydantic-settings==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
requests-html==0.10.0
rich==14.0.0
starlette==0.47.2
truststore==0.10.1
uvicorn==0.35.0
xmltodict==0.14.2